<h1> Hi I'm Michelle Hwang!</h1>
<p>I'm a sophomore student at UC Berkeley from Huntington Beach, CA. A fun fact is that my bed is filled with stuffed animals including an alpaca named Pocky. I'm excited to learn more!</p>